In [1]:
import pandas as pd
import numpy as np

In [13]:
data_path = '../data/'
listing_info_fn = 'listing_info.csv'
test_fn = 'test.csv'
train_fn = 'train.csv'
user_behavior_logs_fn = 'user_behavior_logs.csv'
user_info_fn = 'user_info.csv'
user_repay_logs_fn  = 'user_repay_logs.csv'
user_taglist_fn = 'user_taglist.csv'

In [14]:
listing_info_data = pd.read_csv(data_path+listing_info_fn)

In [15]:
train_data = pd.read_csv(data_path+train_fn)

In [48]:
test_data = pd.read_csv(data_path+test_fn)

In [17]:
user_repay_logs_data = pd.read_csv(data_path+user_repay_logs_fn)

In [36]:
user_behavior_logs_data = pd.read_csv(data_path+user_behavior_logs_fn)

In [53]:
user_taglist_data = pd.read_csv(data_path+user_taglist_fn)

In [56]:
user_info_data = pd.read_csv(data_path+user_info_fn)

In [4]:
listing_info_data['user_id'].value_counts()

712075    141
491698    109
35086      98
539106     93
531641     92
655008     88
441162     78
809262     77
196376     76
114491     75
399323     71
224381     69
341282     69
218560     67
210779     67
514308     66
288012     65
74810      64
627259     64
449599     62
79343      62
301729     61
350390     61
192276     60
333618     60
228976     59
333375     59
249503     58
637894     58
413045     56
         ...
593357      1
139992      1
56567       1
130259      1
518136      1
244891      1
379989      1
709574      1
351303      1
359491      1
369192      1
287248      1
82611       1
299534      1
255937      1
260035      1
40190       1
44280       1
627625      1
191664      1
146602      1
607155      1
162978      1
158880      1
219095      1
248980      1
212106      1
220294      1
334926      1
187382      1
Name: user_id, Length: 928195, dtype: int64

In [47]:
user_behavior_logs_data.loc[user_behavior_logs_data['user_id'] == 712075]['behavior_time'].value_counts()

2018-07-05 15:11:28    10
2018-07-05 15:11:51     3
2018-07-05 15:15:36     2
2018-06-20 14:04:57     1
2018-06-04 15:24:58     1
2018-07-31 09:53:42     1
2018-09-12 08:54:17     1
2018-08-23 07:20:18     1
2018-08-23 21:47:44     1
2018-08-22 08:30:46     1
2018-08-19 14:22:20     1
2018-08-19 23:29:57     1
2018-08-01 17:59:52     1
2018-08-05 10:17:05     1
2018-08-08 14:02:49     1
2018-07-11 18:24:52     1
2018-08-09 11:25:26     1
2018-08-21 17:53:59     1
2018-05-24 12:15:39     1
2018-08-04 14:19:02     1
2018-03-31 15:47:18     1
2018-07-11 21:29:29     1
2018-07-13 15:44:33     1
2018-03-20 13:16:41     1
2018-08-22 19:34:23     1
2018-08-19 14:28:07     1
2018-08-17 09:09:06     1
2018-08-15 10:44:43     1
2018-08-29 08:41:15     1
2018-06-04 17:28:05     1
                       ..
2018-09-01 15:05:01     1
2018-07-11 15:15:29     1
2018-08-07 18:11:32     1
2018-08-09 11:06:22     1
2018-08-20 13:54:11     1
2018-07-12 10:35:57     1
2018-03-31 07:02:08     1
2018-08-22 19:21:56     1
2018-08-19 20:09:31     1
2018-07-13 19:20:42     1
2018-06-07 10:59:37     1
2018-05-29 21:16:55     1
2018-08-04 02:14:26     1
2018-07-19 10:45:12     1
2018-07-13 18:23:17     1
2018-03-31 15:47:06     1
2018-08-24 09:03:42     1
2018-05-22 17:11:18     1
2018-07-13 21:27:09     1
2018-05-21 10:29:57     1
2018-08-07 15:53:44     1
2018-04-27 17:56:51     1
2018-07-12 06:44:34     1
2018-07-13 21:09:26     1
2018-08-20 19:38:05     1
2018-05-24 11:22:11     1
2018-08-19 13:14:17     1
2018-08-07 08:49:22     1
2018-08-19 17:01:53     1
2018-08-04 17:40:18     1
Name: behavior_time, Length: 347, dtype: int64

In [45]:
user_behavior_logs_data.loc[user_behavior_logs_data['user_id'] == 712075].loc[user_behavior_logs_data['behavior_time'] == '2018-07-05 15:11:28']

          user_id        behavior_time  behavior_type
11445359   712075  2018-07-05 15:11:28              3
11445374   712075  2018-07-05 15:11:28              3
11445378   712075  2018-07-05 15:11:28              3
11445380   712075  2018-07-05 15:11:28              3
11445382   712075  2018-07-05 15:11:28              3
11445384   712075  2018-07-05 15:11:28              3
11445387   712075  2018-07-05 15:11:28              3
11445390   712075  2018-07-05 15:11:28              3
11445391   712075  2018-07-05 15:11:28              3
11445392   712075  2018-07-05 15:11:28              3

In [35]:
listing_info_data.loc[listing_info_data['user_id'] == 712075].sort_values('auditing_date')

         user_id  listing_id auditing_date  term  rate  principal
2783443   712075     1380829    2017-11-06     6   8.0       1170
2748581   712075     1519980    2017-11-21     3   7.2       1170
2748706   712075     1519502    2017-11-21     3   7.2       1170
2745463   712075     1532215    2017-11-22     6   7.6       1170
4054662   712075     1563707    2017-11-26     9   7.6       2260
4055979   712075     1563069    2017-11-26     9   7.6       3350
4036246   712075     1582388    2017-11-28     9   7.6       1170
4031252   712075     1587372    2017-11-29     6   7.6       1170
4022399   712075     1596173    2017-11-30     6   7.6       1170
4022284   712075     1596655    2017-11-30     6   7.6       1170
4010391   712075     1610918    2017-12-01     6   7.6       1170
4011952   712075     1606860    2017-12-01     6   7.6       1170
4011276   712075     1607225    2017-12-01     6   7.6       1170
4010895   712075     1608845    2017-12-01     6   7.6       1170
4010762   712075     1609407    2017-12-01     6   7.6       1170
4010637   712075     1609913    2017-12-01     6   7.6       1170
4010524   712075     1610390    2017-12-01     6   7.6       1170
4008152   712075     1615423    2017-12-02     6   7.6       1170
4007535   712075     1616810    2017-12-02     6   7.6       1170
4006742   712075     1617694    2017-12-02     6   7.6       1170
3993873   712075     1636100    2017-12-04     6   7.6       1170
3993970   712075     1635692    2017-12-04     6   7.6       1170
3994087   712075     1635167    2017-12-04     6   7.6       1170
3999687   712075     1629858    2017-12-04     6   7.6       1170
3988978   712075     1640683    2017-12-05     6   7.6       1170
3969292   712075     1663459    2017-12-07     6   7.2       1170
3969242   712075     1663668    2017-12-07     6   7.2       1170
3967396   712075     1664198    2017-12-07     6   7.2       1170
3970441   712075     1662332    2017-12-07     6   7.2       1170
3966799   712075     1665479    2017-12-07     6   7.2       1170
...          ...         ...           ...   ...   ...        ...
3456692   712075     3924538    2018-07-05     3   7.2       1280
3456439   712075     3925442    2018-07-05     3   7.2       2260
3456365   712075     3925744    2018-07-05     3   7.2       1170
3456643   712075     3924748    2018-07-05     3   7.2       2260
3456526   712075     3925150    2018-07-05     3   7.2       2260
3415810   712075     3980156    2018-07-12     6   8.3       1280
3408773   712075     3992256    2018-07-13     6   8.3       3350
3408838   712075     3992013    2018-07-13     6   8.3       2260
3409572   712075     3991395    2018-07-13     6   8.3       1170
3409863   712075     3990313    2018-07-13     6   8.3       1170
3410584   712075     3988491    2018-07-13     6   8.3       1280
3408712   712075     3992456    2018-07-13     6   8.3       3350
3369508   712075     4046049    2018-07-21     3   7.2       2260
3294393   712075     4167320    2018-08-09     3   7.2       1280
3294373   712075     4167385    2018-08-09     6   8.3       2260
3261012   712075     4212291    2018-08-15     6   8.3       2260
3261801   712075     4211350    2018-08-15     6   8.3       1280
3253457   712075     4224286    2018-08-17     6   8.3       1280
3246205   712075     4236041    2018-08-18     6   8.3       1280
3245304   712075     4237442    2018-08-19     6   8.3       1170
3240078   712075     4243229    2018-08-20     6   8.3       1170
3237213   712075     4247650    2018-08-20     6   8.3       1280
3237144   712075     4247927    2018-08-20     6   8.3       1170
3231291   712075     4255335    2018-08-22     6   8.3       1170
3229002   712075     4259894    2018-08-22     6   8.3       1170
3228674   712075     4261296    2018-08-22     6   8.3       1170
3228416   712075     4262347    2018-08-23     6   8.3       1170
3227965   712075     4264176    2018-08-23     6   8.3       1170
3108914   712075     4428650    2018-09-12     3   7.2       3350
3107657   712075     4431455    2018-09-13     6   8.3       1280

[141 rows x 6 columns]

In [25]:
user_repay_logs_data.loc[user_repay_logs_data['user_id'] == 712075].loc[user_repay_logs_data['listing_id'] == 4224286].sort_values('due_date')

,user_id,listing_id,order_id,due_date,due_amt,repay_date,repay_amt
3899391,712075,4224286,1,2018-09-17,218.5294,2018-08-17,218.5294
3899394,712075,4224286,2,2018-10-17,218.5294,2018-08-17,218.5294
3899393,712075,4224286,3,2018-11-17,218.5294,2018-08-17,218.5294
3899395,712075,4224286,4,2018-12-17,218.5294,2018-08-17,218.5294
3899390,712075,4224286,5,2019-01-17,218.5294,2018-08-17,218.5294
3899392,712075,4224286,6,2019-02-17,218.5294,2018-08-17,218.5294

In [52]:
train_data.loc[train_data['user_id'] == 712075].sort_values('auditing_date')

,user_id,listing_id,auditing_date,due_date,due_amt,repay_date,repay_amt
926614,712075,4224286,2018-08-17,2018-09-17,218.5294,2018-08-17,218.5294
100987,712075,4431455,2018-09-13,2018-10-13,218.5294,2018-09-13,218.5294

In [55]:
user_taglist_data.loc[user_taglist_data['user_id'] == 712075]

Empty DataFrame
Columns: [user_id, taglist, insertdate]
Index: []

### test user_id

In [79]:
listing_info_userid_idx = listing_info_data['user_id'].value_counts().index
train_userid_idx = train_data['user_id'].value_counts().index
test_userid_idx = test_data['user_id'].value_counts().index
user_info_userid_idx = user_info_data['user_id'].value_counts().index
user_taglist_userid_idx = user_taglist_data['user_id'].value_counts().index
user_repay_logs_userid_idx = user_repay_logs_data['user_id'].value_counts().index
user_behavior_logs_userid_idx = user_behavior_logs_data['user_id'].value_counts().index

In [58]:
def find_diff_index(idx1, idx2):
    return idx1.difference(idx2)

In [82]:
print('||listing_info    :||',find_diff_index(train_userid_idx, listing_info_userid_idx), '\n')
print('||user_taglist    :||',find_diff_index(train_userid_idx, user_taglist_userid_idx), '\n')
print('||user_behavior_logs :||',find_diff_index(train_userid_idx, user_behavior_logs_userid_idx), '\n')
print('||user_repay_logs :||',find_diff_index(train_userid_idx, user_repay_logs_userid_idx), '\n')
print('||user_info       :||',find_diff_index(train_userid_idx, user_info_userid_idx), '\n')

||listing_info    :|| Int64Index([], dtype='int64')

||user_taglist    :|| Int64Index([     1,      3,      6,      8,     11,     14,     16,     19,
                21,     23,
            ...
            923870, 923962, 923974, 923988, 924014, 924094, 924125, 924147,
            924205, 924336],
           dtype='int64', length=352264)

||user_behavior_logs :|| Int64Index([     2,    196,    251,    279,    331,    349,    688,    899,
              1002,   1146,
            ...
            846212, 846254, 846395, 849882, 851119, 852989, 857080, 857207,
            861831, 871070],
           dtype='int64', length=6382)

||user_repay_logs :|| Int64Index([     7,     13,     17,     36,     61,     68,     75,     87,
               100,    123,
            ...
            923644, 923698, 923736, 923851, 923877, 924036, 924051, 924125,
            924147, 924400],
           dtype='int64', length=44434)

||user_info       :|| Int64Index([], dtype='int64')

In [80]:
print('||listing_info    :||',find_diff_index(test_userid_idx, listing_info_userid_idx), '\n')
print('||user_taglist    :||',find_diff_index(test_userid_idx, user_taglist_userid_idx), '\n')
print('||user_behavior_logs :||',find_diff_index(test_userid_idx, user_behavior_logs_userid_idx), '\n')
print('||user_repay_logs :||',find_diff_index(test_userid_idx, user_repay_logs_userid_idx), '\n')
print('||user_info       :||',find_diff_index(test_userid_idx, user_info_userid_idx), '\n')

||listing_info    :|| Int64Index([], dtype='int64')

||user_taglist    :|| Int64Index([     8,     72,     77,    107,    114,    117,    133,    165,
               249,    259,
            ...
            928182, 928183, 928184, 928185, 928187, 928189, 928191, 928192,
            928194, 928195],
           dtype='int64', length=50214)

||user_behavior_logs :|| Int64Index([  1096,   2212,   2459,   2677,   3090,   3305,   3763,   3850,
              4686,   5898,
            ...
            890747, 892792, 893048, 895067, 895205, 899703, 900411, 901425,
            904614, 905760],
           dtype='int64', length=1652)

||user_repay_logs :|| Int64Index([    41,    193,    285,    354,    370,    384,    423,    524,
               619,    711,
            ...
            928173, 928176, 928179, 928181, 928182, 928185, 928186, 928187,
            928189, 928190],
           dtype='int64', length=8920)

||user_info       :|| Int64Index([], dtype='int64')

In [65]:
print('||test train    :||',find_diff_index(test_userid_idx, train_userid_idx), '\n')

||test train    :|| Int64Index([     5,     20,     22,     29,     35,     41,     46,     55,
                72,     76,
            ...
            928186, 928187, 928188, 928189, 928190, 928191, 928192, 928193,
            928194, 928195],
           dtype='int64', length=104463)

In [9]:
print('||test train    :||',find_diff_index(test_userid_idx, train_userid_idx), '\n')

||test train    :|| Int64Index([     5,     20,     22,     29,     35,     41,     46,     55,
                72,     76,
            ...
            928186, 928187, 928188, 928189, 928190, 928191, 928192, 928193,
            928194, 928195],
           dtype='int64', length=104463)

In [68]:
test_userid_idx

Int64Index([790526, 803491, 866956,  74383, 121488, 901779, 918456, 903556,
            387734, 205448,
            ...
            378349, 122350, 906735, 601388, 605682, 661889, 853493, 915486,
            880120,   4098],
           dtype='int64', length=130000)

In [69]:
790526 in train_userid_idx

True

In [81]:
user_behavior_logs_userid_idx.shape

(920161,)

### test listing_id

In [70]:
listing_info_listingid_idx = listing_info_data['listing_id'].value_counts().index
train_listingid_idx = train_data['listing_id'].value_counts().index
test_listingid_idx = test_data['listing_id'].value_counts().index
# user_info_userid_idx = user_info_data['user_id'].value_counts().index
# user_taglist_userid_idx = user_taglist_data['user_id'].value_counts().index
# user_repay_logs_userid_idx = user_repay_logs_data['user_id'].value_counts().index

In [71]:
find_diff_index(test_listingid_idx, listing_info_listingid_idx)

Int64Index([], dtype='int64')

In [72]:
find_diff_index(train_listingid_idx, listing_info_listingid_idx)

Int64Index([], dtype='int64')

In [73]:
print(test_listingid_idx.shape)
print(train_listingid_idx.shape)
print(listing_info_listingid_idx.shape)

(130000,)
(1000000,)
(5484891,)